body{
    color:white;
    background: palevioletred;
}
.me{
    width: 20%;
    font-size: 22px;
}
.Objects , #result_o , #result_a{
    color:olive;
}
#camera , #result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}